= simple_form_for([:admin, @android_signing_key], url: admin_android_signing_key_path) do |f|
  .card-body
    = f.error_notification

    = f.input :key_alias, required: true
    = f.input :keystore_password, required: true, as: :password
    = f.input :key_password, required: true, as: :password
    = f.input :keystore, as: :file, required: true
    - if @android_signing_key.errors[:checksum].present?
      = f.input :checksum, disabled: true

  .card-footer
    = f.button :submit
