- content_for :section_title do
  = t('.title')

- content_for :title do
  = t('.title')

.row
  .col-md-12
    .card
      .card-header
        h3.card-title = t('.title')
      .card-body
        == render 'form', collection: @collection
