- if user_signed_in_or_guest_mode?
  label class="d-drawer-overlay" for="zealot-drawer" aria-label="close sidebar"
  aside[
    class="console-sidebar flex min-h-full flex-col items-start bg-base-200/80 backdrop-blur-md border-r border-base-300/60 d-is-drawer-close:w-18 d-is-drawer-open:w-60"
  ]
    .m-3
      == render 'layouts/brand_logo', site_title: Setting.site_title

    ul class="d-menu d-menu-lg w-full grow"
      = sidebar_link_to('fa-solid fa-th', root_path, text: t('dashboard.title'))
      = sidebar_link_to('fa-brands fa-adn', apps_path, text: t('apps.title'))
      = sidebar_link_to('fa-solid fa-archive', archived_apps_path, text: t('apps.archives.title'))
      = sidebar_link_to('fa-solid fa-bug', debug_files_path, text: t('debug_files.title'))

      .d-divider class="my-1 w-full self-center max-w-7 flex pb-2 d-is-drawer-open:hidden"
      li class="mt-2 ml-4 font-bold text-lg pb-2 d-is-drawer-close:hidden" = t('toolbox_section')
      = sidebar_link_to('fa-solid fa-layer-group', teardowns_path, text: t('teardowns.title'))
      = sidebar_link_to('fa-solid fa-eye', udid_index_path, text: t('udid.title'))

      - if current_user&.admin?
        .d-divider class="my-1 w-full self-center max-w-7 flex pb-2 d-is-drawer-open:hidden"
        li class="mt-2 ml-4 font-bold text-lg pb-2 d-is-drawer-close:hidden" = t('admin_section')
        = sidebar_link_to('fa-solid fa-user', admin_users_path, text: t('admin.users.title'))
        = sidebar_link_to('fa-solid fa-anchor', admin_web_hooks_path, text: t('web_hooks.title'))
        = sidebar_link_to('fa-solid fa-key', admin_apple_keys_path, text: t('admin.apple_keys.title'))
        = sidebar_link_to('fa-solid fa-window-restore', admin_backups_path, text: t('admin.backups.title'))
        = sidebar_link_to('fa-solid fa-cog', admin_settings_path, text: t('admin.settings.title'))

        .d-divider class="my-1 w-full self-center max-w-7 flex pb-2 d-is-drawer-open:hidden"
        li class="mt-2 ml-4 font-bold text-lg pb-2 d-is-drawer-close:hidden" = t('monitors_section')
        = sidebar_link_to('fa-solid fa-info-circle', admin_system_info_index_path, text: t('admin.system_info.title'))
        = sidebar_link_to('fa-solid fa-file-contract', admin_logs_path, text: t('admin.logs.title'))
        = sidebar_link_to('fa-solid fa-bars-progress', admin_background_jobs_path, text: t('admin.background_jobs.title'))
        = sidebar_link_to('fa-solid fa-database', admin_database_analytics_path, text: t('admin.database_analytics.title'))

    / Footer of the sidebar: everything the removed top nav used to carry
    ul class="d-menu d-menu-lg w-full border-t border-base-300/60 pt-2"
      li
        button[
          type="button"
          class="d-is-drawer-close:d-tooltip d-is-drawer-close:d-tooltip-right py-2"
          data-tip=t('donate')
          data-action="global#showSponsorModal"
        ]
          i.fa-regular.fa-heart.text-red-500
          span class="d-is-drawer-close:hidden" = t('donate')
      - if user_signed_in?
        = sidebar_link_to('fa-solid fa-user-circle', edit_user_registration_path, text: t('user_profile'))
        li
          = button_to destroy_user_session_path, method: :delete, class: "d-is-drawer-close:d-tooltip d-is-drawer-close:d-tooltip-right py-2 w-full text-left", data: { tip: t('log_out') } do
            i.fa-solid.fa-right-from-bracket
            span class="d-is-drawer-close:hidden" = t('log_out')
      - else
        = sidebar_link_to('fa-solid fa-user', new_user_session_path, text: t('log_in'))
      / Desktop collapse / expand (mobile uses the floating button)
      li class="hidden md:block"
        label[
          for="zealot-drawer"
          class="d-is-drawer-close:d-tooltip d-is-drawer-close:d-tooltip-right py-2 cursor-pointer"
          data-tip=t('sidebar_toggle')
        ]
          i.fa-solid.fa-bars
          span class="d-is-drawer-close:hidden" = t('sidebar_toggle')
